/* src/components/PasswordReset.css */

.password-reset-container {
    max-width: 400px;
    margin: 180px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color:whitesmoke;
}

.password-reset-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.password-reset-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.password-reset-form label {
    text-align: left;
    font-size: 16px;
    color: #333;
}

.password-reset-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.password-reset-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-reset-form button:hover {
    background-color: #0056b3;
}

.success-message {
    margin-top: 15px;
    font-size: 14px;
    color: green;
}

.error-message {
    margin-top: 15px;
    font-size: 14px;
    color: red;
}
